header{
    background-color: lime;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;
    justify-content:space-between
    
    
}
ul{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

li{
    margin:0px 30px 0px 30px ;
}
button{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border-width: 0;
}
button:hover{
    background-color: lightgray;
}